[Unit]
Description=DANE-compatible certbot wrapper

[Service]
Type=oneshot
ExecStart=/usr/local/bin/danebot renew

[Install]
WantedBy=multi-user.target
